@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&family=Roboto:wght@400;900&display=swap');

$font1: 'Roboto', sans-serif;
$font2: 'Nova Cut', cursive;

*{
    margin:0;
    padding:0;
}